---
import Fb from "../../assets/fb.png";
import Insta from "../../assets/instagram.png";
import Linkedin from "../../assets/linkedin.png";
import Github from "../../assets/github.png";
import Info from "../../assets/info.png";
import CV from "../../assets/cv.svg";
import Dev from "../../assets/dev.png";
import EmailModal from "@components/Modal/EmailModal.astro";
---

<div class="box-border w-full">
  <div class="flex flex-row w-full gap-5">
    <div
      class="p-7
        w-[55%]
          text-center
          cursor-pointer
          rounded-3xl border border-transparent
          bg-[#1c1c25]
          shadow-lg shadow-[#101016] transition-colors
          hover:bg-[#2a2a30] hover:border-gray-200 duration-200 ease-in-out
          justify-center relative group"
    >
      <div class="flex flex-row
            justify-between items-center">
        <h1
          class="mb-2
              text-white text-2xl font-bold
              justify-center items-center"
        >
          Socials
        </h1>
        <div class="mb-2
              relative">
          <img
            src={Info.src}
            alt="Info"
            class="w-5 h-5
                  rounded-full
                  justify-center items-center"
          />
          <div
            class="overflow-hidden
                w-0
                text-white text-xs whitespace-nowrap
                transition-all
                duration-300 ease-out absolute top-0 right-3 rounded
                group-hover:w-[105px]"
          >
            <span
              class="opacity-0 group-hover:opacity-100 transition-opacity duration-300 delay-150"
              >Click to open</span
            >
          </div>
        </div>
      </div>
      <div class="flex flex-row
            gap-3">
        <div class="flex flex-col
              items-center justify-center">
          <a
            href="https://www.facebook.com/cyjnavarro"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-gray-800
                  rounded-full border-b-6 border-[#101016]
                  transition-all
                  nav-btn items-center justify-center relative hover:border-b-0 hover:translate-y-[2px] active:border-b-0 active:translate-y-[4px]"
            title="Facebook"
            aria-label="Facebook"
          >
            <img src={Fb.src} alt="Facebook" class="w-14 h-14" />
          </a>
        </div>
        <div class="flex flex-col
              items-center justify-center">
          <a
            href="https://www.instagram.com/variable_one/"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-gray-800
                  rounded-full border-b-6 border-[#101016]
                  transition-all
                  nav-btn items-center justify-center relative hover:border-b-0 hover:translate-y-[2px] active:border-b-0 active:translate-y-[4px]"
            title="Instagram"
            aria-label="Instagram"
          >
            <img src={Insta.src} alt="Instagram" class="w-14 h-14" />
          </a>
        </div>
        <div class="flex flex-col
              items-center justify-center">
          <a
            href="https://www.linkedin.com/in/cyjnavarro/"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-gray-800
                  rounded-full border-b-6 border-[#101016]
                  transition-all
                  nav-btn items-center justify-center relative hover:border-b-0 hover:translate-y-[2px] active:border-b-0 active:translate-y-[4px]"
            title="linkedin"
            aria-label="linkedin"
          >
            <img src={Linkedin.src} alt="linkedin" class="w-14 h-14" />
          </a>
        </div>
        <div class="flex flex-col
              items-center justify-center">
          <a
            href="https://github.com/TheFreeloader"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-gray-800
                  rounded-full border-b-6 border-[#101016]
                  transition-all
                  nav-btn items-center justify-center relative hover:border-b-0 hover:translate-y-[2px] active:border-b-0 active:translate-y-[4px]"
            title="Github"
            aria-label="Github"
          >
            <img src={Github.src} alt="Github" class="w-14 h-14" />
          </a>
        </div>
        <div class="flex flex-col
              items-center justify-center">
          <a
            href="https://dev.to/var_one"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-gray-800
                  rounded-full border-b-6 border-[#101016]
                  transition-all
                  nav-btn items-center justify-center relative hover:border-b-0 hover:translate-y-[2px] active:border-b-0 active:translate-y-[4px]"
            title="Dev.to"
            aria-label="Dev.to"
          >
            <img src={Dev.src} alt="Dev.to" class="w-14 h-14" />
          </a>
        </div>
      </div>
    </div>
    <div
      class="p-7
              w-[30%]
              flex flex-row
              text-center
              cursor-pointer
              rounded-3xl border border-transparent
              bg-[#1c1c25]
              shadow-lg shadow-[#101016] transition-colors
              hover:bg-[#2a2a30] hover:border-gray-200 duration-200 ease-in-out
              justify-between relative group"
    >
      <div class="w-full flex flex-col items-center justify-center">
        <h1 class="mb-4 text-white text-2xl font-bold">Contact</h1>
        <button
          id="emailBtn"
          class="bg-gray-800 text-white px-6 py-3 rounded-full border-b-6 border-[#101016]
          transition-all hover:border-b-0 hover:translate-y-[2px]
          active:border-b-0 active:translate-y-[4px] w-full max-w-[200px]"
        >
          Email Me
        </button>
      </div>
    </div>
    <div
      class="p-5
              w-[15%]
              flex flex-row
              text-center
              cursor-pointer
              rounded-3xl border border-transparent
              bg-[#1c1c25]
              shadow-lg shadow-[#101016] transition-colors
              hover:bg-[#2a2a30] hover:border-gray-200 duration-200 ease-in-out
              justify-between relative group"
    >
      <div class="w-full flex flex-col items-center justify-center">
        <div class="relative w-full h-[84px]">
          <a
            href="/path-to-your-resume.pdf"
            download
            class="bg-gray-800 px-0 py-2 border-b-6 rounded-lg border-[#101016]
                        transition-all hover:border-b-0 hover:translate-y-[2px] box-border
                        active:border-b-0 active:translate-y-[4px] block w-full text-center
                        absolute top-0 left-0 right-0"
          >
            <img
              src={CV.src}
              alt="Download CV"
              class="w-12 h-12 inline-block"
            />
          </a>
        </div>
        <h2 class="text-white text-xs font-semibold mt-0.5">Download CV</h2>
      </div>
    </div>
  </div>
</div>

<EmailModal id="emailModal" />

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const emailBtn = document.getElementById("emailBtn");
    const emailModal = document.getElementById("emailModal");

    emailBtn?.addEventListener("click", () => {
      emailModal?.classList.remove("hidden");
    });
  });
</script>
