---
import Card from "../Card/Card.astro";
import CloseButton from "../Buttons//CloseButton.astro";
import About from "../../assets/about.svg";
const cardId = "about";
import Me from "../../assets/me.jpeg";
import ModalBg from "../../assets/modalbg.svg";
import ButtonBg from "../../assets/buttonbg.png";
---

<div>
  <div class="cursor-pointer" id="aboutCard">
    <Card title="About Me" icon={About.src} cardId={cardId} />
  </div>
  <div
    class="hidden z-[1000]
      w-full h-full
      pointer-events-none
      fixed top-0 left-0 justify-center items-center [&.visible]:flex"
    id="modalOverlay"
  >
    <div
      class="overflow-visible
        max-w-[600px] w-full max-h-[50vh]
        p-8
        bg-cover bg-no-repeat
        border-[7px] border-[#362b14] rounded-lg
        shadow-[0_4px_20px_rgba(0,0,0,0.2)] pointer-events-auto
        relative translate-x-0 translate-y-0
        font-['Poppins',sans-serif] before:content-[''] before:absolute before:-top-[7px] before:-left-[7px] before:-right-[7px] before:-bottom-[7px] before:-z-10 before:bg-transparent before:rounded-lg before:pointer-events-none"
      id="aboutContainer"
      style={`background-image: url(${ModalBg.src})`}
    >
      <div
        class="z-10
          w-full h-[50px]
          bg-[rgba(0,0,0,0.1)]
          border-b-2 border-dashed border-[rgba(252,245,229,0.5)]
          cursor-move transition-colors
          absolute top-0 left-0 hover:border-b-[rgba(252,245,229,0.8)] duration-200"
        id="modalHeader"
      >
      </div>

      <CloseButton id="closeModal" buttonBg={ButtonBg.src} />

      <div
        class="z-[5] overflow-y-auto overflow-x-hidden flex flex-col
          max-h-[calc(50vh-70px)]
          pt-2 p-1
          select-none
          relative -m-[5px] [scrollbar-width:none] [-ms-overflow-style:none] [&::-webkit-scrollbar]:hidden"
      >
        <h2
          class="flex
            mt-4 mb-4
            text-[#fcf5e5] text-[2rem]
            self-center"
        >
          About Me
        </h2>
        <div
          class="flex
            mt-4
            justify-between items-center"
        >
          <img class="w-[40%] h-[40%]
              rounded-lg" src={Me.src} />
          <div
            class="flex flex-col
              w-[55%]
              justify-center items-center"
          >
            <p class="mb-4
                leading-[1.6] text-[#fff5ee]">
              I am a passionate web developer with a love for creating beautiful
              and functional websites. I have experience in various technologies
              and frameworks, and I am always eager to learn more.
            </p>
            <p class="mb-4
                leading-[1.6] text-[#fff5ee]">
              In my free time, I enjoy exploring new technologies, contributing
              to open-source projects, and sharing my knowledge with others.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    import { initializeAboutMe } from "./aboutMeHandler";
    const cardId = "about";
    initializeAboutMe(cardId);
  </script>
</div>

<style>
  .dragging {
    user-select: none;
  }

  .modal_svg rect {
    stroke: #362b14;
    stroke-width: 7;
    fill: transparent;
    stroke-dasharray: 778;
    stroke-dashoffset: 0;
  }
</style>
