---
import styles from "./AboutMe.module.css";
import Card from "../Card/Card.astro";
import About from "../../assets/about.svg";
const cardId = "about";
import Me from "../../assets/me.jpeg";
---

<div>
  <div class={styles.card_wrapper} id="aboutCard">
    <Card title="About Me" icon={About.src} cardId={cardId} />
  </div>
  <div class={styles.modal_container} id="modalOverlay">
    <div class={styles.modal_content} id="aboutContainer">
      <div class={styles.modal_header} id="modalHeader"></div>
      <div class={styles.close_button_container}>
        <span class={styles.close_button} id="closeModal">&times;</span>
      </div>
      <div class={styles.modal_body}>
        <h2 class={styles.about_title}>About Me</h2>
        <div class={styles.about_content}>
          <img class={styles.about_image} src={Me.src} />
          <div class={styles.about_text_container}>
            <p class={styles.about_text}>
              I am a passionate web developer with a love for creating beautiful
              and functional websites. I have experience in various technologies
              and frameworks, and I am always eager to learn more.
            </p>
            <p class={styles.about_text}>
              In my free time, I enjoy exploring new technologies, contributing
              to open-source projects, and sharing my knowledge with others.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    import { initializeAboutMe } from "./aboutMeHandler";
    const cardId = "about";
    initializeAboutMe(cardId);
  </script>
</div>
